html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #fff;
  background-color: #A9A9A9;
}
main {
  display: block;
  width: 592px;
  background-color: #1a1a1a;
  margin: auto;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
button,
input,
select,
textarea {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  vertical-align: middle;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
.wbc {
  background: #fff;
}
.bbc {
  background: #000;
}
.ie8 .box-shadow {
  outline: 1px solid #cccccc;
}
/*FLOAT*/
.fl-l {
  float: left;
}
.fl-r {
  float: right;
}
.fl-n {
  float: none;
}
.both {
  clear: both;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.clearfix {
  /*&:before, &:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
    &:after { clear: both; }
    zoom: 1;*/
}
.list-s-none {
  list-style: none outside none;
}
.tdn {
  text-decoration: none;
}
.tdu {
  text-decoration: underline;
}
.invert {
  text-decoration: none;
}
.invert:hover {
  text-decoration: underline;
}
i,
.italic {
  font-style: italic;
}
u {
  text-decoration: underline;
}
b {
  font-weight: bold;
}
.bold,
strong {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}
/*PADDING*/
.p-0 {
  padding: 0px;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.p-25 {
  padding: 25px;
}
.p-30 {
  padding: 30px;
}
.p-35 {
  padding: 35px;
}
.p-40 {
  padding: 40px;
}
.pt-0 {
  padding-top: 0px;
}
.pt-5 {
  padding-top: 5px;
}
.pt-6 {
  padding-top: 6px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-25 {
  padding-top: 25px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-35 {
  padding-top: 35px;
}
.pt-40 {
  padding-top: 40px;
}
.pr-0 {
  padding-right: 0px;
}
.pr-5 {
  padding-right: 5px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-15 {
  padding-right: 15px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-25 {
  padding-right: 25px;
}
.pr-30 {
  padding-right: 30px;
}
.pr-35 {
  padding-right: 35px;
}
.pr-40 {
  padding-right: 40px;
}
.pb-0 {
  padding-bottom: 0px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-35 {
  padding-bottom: 35px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pl-0 {
  padding-left: 0px;
}
.pl-5 {
  padding-left: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-25 {
  padding-left: 25px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-35 {
  padding-left: 35px;
}
.pl-40 {
  padding-left: 40px;
}
/*MARGIN*/
.m-0 {
  margin: 0px;
}
.m-5 {
  margin: 5px;
}
.m-10 {
  margin: 10px;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.m-25 {
  margin: 25px;
}
.m-30 {
  margin: 30px;
}
.m-35 {
  margin: 35px;
}
.m-40 {
  margin: 40px;
}
.mt-0 {
  margin-top: 0px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-40 {
  margin-top: 40px;
}
.mr-0 {
  margin-right: 0px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-25 {
  margin-right: 25px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-35 {
  margin-right: 35px;
}
.mr-40 {
  margin-right: 40px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-45 {
  margin-bottom: 45px;
}
.mb-60 {
  margin-bottom: 60px;
}
.ml-0 {
  margin-left: 0px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-25 {
  margin-left: 25px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-35 {
  margin-left: 35px;
}
.ml-40 {
  margin-left: 40px;
}
/*ALIGN*/
.va-t {
  vertical-align: top;
}
.va-b {
  vertical-align: bottom;
}
.va-m {
  vertical-align: middle;
}
.va-tt {
  vertical-align: text-top;
}
.ta-c {
  text-align: center;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}
.ta-j {
  text-align: justify;
}
/*WIDTH*/
.w-5 {
  width: 5%;
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-35 {
  width: 35%;
}
.w-40 {
  width: 40%;
}
.w-45 {
  width: 45%;
}
.w-50 {
  width: 50%;
}
.w-55 {
  width: 55%;
}
.w-60 {
  width: 60%;
}
.w-65 {
  width: 65%;
}
.w-70 {
  width: 70%;
}
.w-75 {
  width: 75%;
}
.w-80 {
  width: 80%;
}
.w-85 {
  width: 85%;
}
.w-90 {
  width: 90%;
}
.w-95 {
  width: 95%;
}
.w-100 {
  width: 100%;
}
/*LINE-HEIGHT*/
.lh-xxxs {
  line-height: .25;
}
.lh-xxs {
  line-height: .5;
}
.lh-xs {
  line-height: .75;
}
.lh-s {
  line-height: 1;
}
.lh-n {
  line-height: 1.25;
}
.lh-l {
  line-height: 1.5;
}
.lh-xl {
  line-height: 1.75;
}
.lh-xxl {
  line-height: 2;
}
.lh-xxxl {
  line-height: 2.5;
}
/*DISPLAY*/
.none {
  display: none;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-b {
  display: inline-block;
}
.of-h {
  overflow: hidden;
}
.pointer {
  cursor: pointer;
}
.bbn {
  border-bottom: none;
}
@font-face {
  font-family: 'latoitalic';
  src: url('../fonts/Lato/latoitalic.eot');
  src: url('../fonts/Lato/latoitalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/latoitalic.woff2') format('woff2'), url('../fonts/Lato/latoitalic.woff') format('woff'), url('../fonts/Lato/latoitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.latoitalic {
  font-family: 'latoitalic', Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
.header {
  height: 110px;
  line-height: 110px;
}
.header__title {
  display: inline-block;
  color: #3f51b5;
  font-size: 40px;
}
.header__location {
  display: inline-block;
  float: right;
  font-size: 34px;
}
.status {
  height: 639px;
}
.status__top {
  height: 82px;
  line-height: 82px;
  background-color: #444444;
}
.mode__current {
  display: inline-block;
  font-size: 32px;
}
.status__icons,
.status__signal,
.status__server,
.status__battery,
.status__signal--low,
.status__signal--mid,
.status__signal--high,
.status__battery--color,
.status__battery--percent {
  display: inline-block;
}
.status__icons {
  float: right;
}
.status__indicators {
  margin-top: 42px;
}
.status__item {
  display: inline-block;
  width: 194px;
  height: 162px;
  text-align: center;
}
.status__icon {
  height: 97px;
  line-height: 97px;
}
.status__value {
  height: 65px;
  line-height: 65px;
  font-size: 44px;
}
#status__value {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */