h1 {
	font-size: 36px;
}
h2 {
	font-size: 32px;
}
.header {
	height: 110px;
	line-height: 110px;
}
.header__title {
	display: inline-block;
	color: #3f51b5;
	font-size: 40px;
}
.header__location {
	display: inline-block;
	float: right;
	font-size: 34px;
}
.status {
	height: 639px;
}
.status__top {
	height: 82px;
	line-height: 82px;
	background-color: #444444;
}
.mode__current {
	display: inline-block;
	font-size: 32px;
}
.status__icons,
.status__signal, 
.status__server,
.status__battery,
.status__signal--low,
.status__signal--mid,
.status__signal--high,
.status__battery--color,
.status__battery--percent {
	display: inline-block;
}
.status__icons {
	float: right;
}
.status__indicators {
	margin-top: 42px;
}
.status__item {
	display: inline-block;
	width: 194px;
	height: 162px;
	text-align: center;
}
.status__icon {
	height: 97px;
	line-height: 97px;
}
.status__value {
	height: 65px;
	line-height: 65px;
	font-size: 44px;
}
#status__value {
	display: inline-block;
}