.header {
    height: 80px;
    line-height: 80px;
}
.header__title {
    .getvoip_grotesque;
    .inline-b;
    .ml-30;
    .blue;
    font-size: 40px;
}
.header__location {
    .roboto-regular;
    .inline-b;
    .mr-30;
    float: right;
    font-size: 34px;
}
.status__signal,
.status__server,
.status__battery--color {
    .va-t;
    padding-left: 15px;
}
.status__battery--percent {
    .roboto-regular;
    .va-t;
    font-size: 28px;
}
.status__top {
    .bbc;
    height: 82px;
    line-height: 82px;
}
.mode__current {
    .roboto-regular;
    .inline-b;
    .ml-30;
    font-size: 32px;
}
.status__icons {
    .fl-r;
    .mr-30;
}
.status__indicators {
    margin: 20px 0 20px 0;
}
.status__item {
    .inline-b;
    .ta-c;
    .va-t;
    .pointer;
    width: 194px;
    height: 162px;
    &:hover {
        .bbc;
    }
}
@media only screen and (max-device-width: 768px) {
    .status__item {
        &:hover {
            background: none;
        }
    }
}
.status__icon {
    height: 97px;
    line-height: 97px;
}
.status__icon--noeq {
    height: 162px;
    line-height: 162px;
}
.status__value {
    .roboto-medium;
    height: 65px;
    line-height: 65px;
    font-size: 44px;
}
.status__tip {
    .relative;
    .ta-c;
    .roboto-regular;
    .none;
    .bbc;
    font-size: 28px;
    width: 194px;
    height: 162px;
    top: -162px;
}
.status__tip--text {
    .relative;
    top: 34%;
}
.history__top,
.settings__top {
    .bbc;
    height: 74px;
    line-height: 74px;
}
.history__dropdown,
.settings__dropdown {
    .inline-b;
    .fl-r;
    .pr-60;
    .pointer;
    width: 17%;
    height: 100%;
    background: url(../images/dropdown_arrow.png) no-repeat center center;
}
.history__info {
    .none;
    .dbc;
}
.history__time {
    .title;
    font-size: 24px;
}
.history__info--table {
    .roboto-regular;
    th {
        width: 75px;
        height: 70px;
        padding-left: 30px;
        p {
            .inline-b;
        }
    }
    tr {
        line-height: 70px;
    }
}
.history__temp,
.history__wet,
.history__volt {
    font-size: 28px;    
}
.history__interval {
    .bbc;
    font-size: 32px;
    height: 83px;
    line-height: 83px;
}
.history__interval--month,
.history__interval--week,
.history__interval--today {
    .ta-c;
    .roboto-regular;
    .pointer;
    .title;
    margin: auto;
    width: 192px;
}
.history__interval--current {
    .roboto-medium;
    .white;
    .dbc;
}
.video {
    //height: 272px;
    margin-top: 25px;
}
.video__block {
    margin-top: 20px;
}
.video__cam--one,
.video__cam--two {
    .of-h;
    .va-t;
    width: 294px;
}
.video__time-date {
    .relative;
    .roboto-regular;
    .ta-c;
    background-color: #1a1a1a;
    font-size: 22px;
    width: 166px;
    height: 32px;
    line-height: 32px;
    top: -210px;
    right: -8px;
}
.control {
    //margin-top: 25px;
}
.control__item {
    .ta-c;
    .roboto-regular;
    .pointer;
    .bbc;
    margin-top: 20px;
    width: 194px;
    height: 240px;
}
.control__name {
    font-size: 28px;
}
.control__status {
    .title;
    padding-top: 10px;
    font-size: 24px;
}
.control__img {
    padding: 24px 0 24px 0;
}

.mode {
    margin-top: 25px;
}
.mode__change {
    .ta-c;
    .roboto-medium;
    .white;
    .pointer;
    .bbc;
    margin-top: 20px;
    font-size: 36px;
    width: 294px;
    height: 80px;
    line-height: 80px;
}
.change__current {
    .gbc;
}
.settings {
    margin: 30px 0 0 0;
}
.settings__options {
    .ta-c;
    .none;
    .dbc;
    height: 225px;
    margin-top: 3px;
    table {
        margin: auto;
    }
    tr {
        height: 110px;
        line-height: 110px;
    }
    th {
        padding: 0 20px 0 20px;
    }
}
.settings__name {
    .roboto-regular;
    .va-m;
    font-size: 32px;
    color: #9e9e9e;
}
.settings__value {
    .roboto-regular;
    .va-m;
    font-size: 52px;
}
.settings__save {
    .roboto-medium;
    .none;
    .pointer;
    .white;
    .ta-c;
    .bbc;
    font-size: 36px;
    margin: 3px 0 0 0;
    height: 74px;
    line-height: 74px;
}
.button {
    .pointer;
}
.password {
    margin-top: 25px;
}
.password__save {
    .roboto-medium;
    .pointer;
    .white;
    .ta-c;
    .bbc;
    font-size: 36px;
    margin: 3px 0 0 0;
    height: 74px;
    line-height: 74px;
}
input {
    .block;
    .ta-c;
    .roboto-medium;
   margin: 15px auto;
   border: 1px solid #cccccc;
   background: #ffffff !important;
   outline: none;
   height: 50px;
   width: 90%;
   font-size: 30px;
}