.status__icons,
.status__signal,
.status__server,
.status__battery,
.status__battery--color,
.status__battery--percent,
#battery {
    .inline-b;
}
.status__signal,
.status__server,
.status__battery {
    padding-right: 5px;
}
.status__battery--color,
.status__signal,
.status__server,{
    vertical-align: sub;
}


.status__icons {
    .va-t;
    padding-left: 20px;
    height: 65px;
    line-height: 65px;
}

.status__indicators {
    .ta-c;
    margin: 50px 0 60px 0;    
}
.status__item {
    .inline-b;
    .ta-c;
    .va-t;
    .pointer;
    .rounded-corners(@radius: 3px);
    margin-right: 3px;
    background-color: #ffffff;
    width: 120px;
    height: 110px;
    &:hover {
        background-color: #cccccc;
    }
    &:last-child {
        margin-right: 0px;
    }
}
.status__icon {
    height: 69px;
    line-height: 97px;
}
.status__icon--noeq {
    height: 162px;
    line-height: 162px;
}
.status__value {
    .roboto-medium;
    font-size: 27px;
    p {
        .inline-b;
    }
}
.status__tip {
    .relative;
    .ta-c;
    .roboto-medium;
    .none;
    .bbc;
    font-size: 27px;
    width: 120px;
    height: 110px;
    top: -162px;
}
.status__tip--text {
    .relative;
    top: 34%;
}